header{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
}

header > div:last-child{
    margin-right: 5px;
}

.containerModule{
    padding: 10px 10px;
}